<%- include('./partials/header.ejs') %>

<div class="flex flex-col items-center justify-center">
  <div class="flex flex-col px-4 sm:px-6 md:px-8 lg:px-10 py-8 w-full max-w-md">
    <div class="font-bold text-center text-xl uppercase mb-1">
      Create your account
    </div>
    <div class="text-center text-sm mb-4">
      Have an account? 
      <a href="/signin" class="text-sky-600 hover:text-sky-700">Sign in now</a>
    </div>
    <div class="">
      <form class="w-full max-w-sm">
        <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
        <div class="mb-6">
          <label for="email" class="block text-sm font-semibold leading-6 text-gray-900">Email address</label>
          <div class="relative">
            <input type="email" name="email" id="email" class="mt-2 appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" placeholder="" />
          </div>
          <p class="text-red-500 text-xs mt-2 email-error"></p>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-semibold leading-6 text-gray-900">Password</label>
          <div class="relative">
            <input type="password" name="password" id="password" class="mt-2 appearance-none text-slate-900 bg-white rounded-md block w-full px-3 h-10 shadow-sm sm:text-sm focus:outline-none placeholder:text-slate-400 focus:ring-2 focus:ring-sky-500 ring-1 ring-slate-200" placeholder="" />
          </div>
          <p class="text-red-500 text-xs mt-2 password-error"></p>
        </div>

        <div class="mb-6">
          <button type="submit" class="inline-flex justify-center rounded-lg text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 w-full">
            <span class="mr-2">Sign up</span>
          </button>
        </div>
      </form>


      <div class="relative my-10 h-px bg-gray-300">
        <div class="absolute left-0 top-0 flex justify-center w-full -mt-2">
          <span class="bg-gray-100 px-4 text-xs text-gray-500 uppercase">Or</span>
        </div>
      </div>

      <div class="mb-3">
        <button type="submit" class="inline-flex justify-center rounded-lg text-sm py-2.5 px-4 bg-white hover:bg-gray-200 w-full border-2 border-slate-300">
          <span class="mr-2">Sign up with Google</span>
        </button>
      </div>
      <div class="mb-3">
        <button type="submit" class="inline-flex justify-center rounded-lg text-sm text-white py-2.5 px-4 bg-sky-600 hover:bg-sky-700 w-full">
          <span class="mr-2">Sign up with Facebook</span>
        </button>
      </div>


    </div>
  
  </div>
</div>

<script>
  const form = document.querySelector('form')
  const emailError = document.querySelector('.email-error')
  const passwordError = document.querySelector('.password-error')

  form.addEventListener('submit', async (e) => {
    e.preventDefault()

    // reset error
    emailError.textContent = ''
    passwordError.textContent = ''

    const _csrf = form._csrf.value
    const email = form.email.value
    const password = form.password.value

    try {
      const res = await fetch('/signup', {
        method: 'POST',
        headers: {
          'x-csrf-token': _csrf, 
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ email, password })
      })

      const data = await res.json()

      console.log(data)

      if (data.errors) {
        emailError.textContent = data.errors.email
        passwordError.textContent = data.errors.password
      }
      
      if (data.user) {
        location.assign('/')
      }
    } catch (err) {
      console.log(err)
    }
  })
</script>

<%- include('./partials/footer.ejs') %>

